<div class="row">
  <div class="span6 recipe-header">
      <h1><%= @recipe.name %></h1>
      <h2><%= @recipe.description %></h2>
  </div>
  <div class="span4">
    <h2>
      OG:<%= @recipe.og %>
    </h2>
    <h2>
      FG:<%= @recipe.fg %>
    </h2>
  </div>
</div>

<div class="row">
  <div class="span 6">
    <%= form_for (@new_hop) do |f| %>
      <%= f.label :name, 'Hop Name' %>
      <%= f.text_area :name %>
      <%= f.label :aau, 'aau' %>
      <%= f.text_area :aau %>
    <% end %>
  </div>
</div>
